{:crmorg "https://d4hines.crm.dynamics.com"
 :clientid  "020a1b54-a7d4-4732-8efc-01c13adf8c0c"
 :username "d4hines@d4hines.onmicrosoft.com"
 :password "FOggogFewvokO5A"
 :tokenendpoint "https://login.microsoftonline.com/94348c85-35ff-4ed8-aecd-61b85d0f4c17/oauth2/token"
 :crmwebapipath "/api/data/v9.0/"}
